/* Styles for Project 6 */

*, *:before, *:after {
    box-sizing: border-box;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size: 500%;
    letter-spacing: 5px;
}

body{
    letter-spacing: 0.5px;
    line-height: 1.5;
    padding: 5%;
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal
}

#top-list{
  list-style-type: none;
  list-style: none;
}

#nav {
        text-align: justify;
        min-width: 500px;
        font-size: 250%;
}

#nav:after {
        content: '';
        display: inline-block;
        width: 100%;
}

#nav li {
        display: inline-block;
}

a:link{
    color:black;
    text-decoration: none;
}

a:visited{
    color:black;
    text-decoration: none;
}

a:hover{
    color:burlywood;
    text-decoration: none;
}

a:active{
    color:black;
    text-decoration: none;
}

.about{
    text-align: center;
    font-size: 200%;
}

.center{
    text-align: center;
    font-size: 150%;
}

.icons{
    text-align: center;
}

ul {
    margin-bottom: 2rem;
}