/* Styles for Project 5 */

body{
    letter-spacing: 0.5px;
    line-height: 1;
    padding: 5%;
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: lightcoral;
    font-weight: 700;
}

img {
    max-width: 100%;
}
ul {
    margin-bottom: 2rem;
}